
{% extends 'layout.html' %}
{% load  static %}
{% block content %}

    <section id="services" class="services" >
        <div class="section-title">
          <h2>Competitions</h2>
          <h3>Check our <span>Competitions</span></h3>
          <p>Competitions from all over the world with accurate data.</p>
        </div>
      <div class="container" data-aos="fade-up">
        {% for competition in competitions %}
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"  data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <a href="{{ competition.id }}"><img class="center"  style="width: 250px; height: 250px" src="{% static competition.competition_badge_img %}"></a>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}