{% extends 'layout.html' %}
{% block content %}
    <br>
    <h1>Edit {{ title }}</h1>
    <hr>
    <form class="form-row"  action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group col-md-6">
        <label>{{ field.label }}</label>
        {{ field }}
        </div>
        {% endfor %}
        <div class="form-group col-md-8">
        <button style="background: #106eea;font-size: 15px; font-weight: bolder;" type="submit" class="btn btn-primary btn-lg" value="Submit">Edit</button>
        </div>
    </form>
    <div>
    {% for field,errors in form.errors.items %}
        {% for e in errors %}
            <p>{{ e }}</p>
        {% endfor %}
    {% endfor %}
    <p>{{ error }}</p>
    </div>
{% endblock %}