<!DOCTYPE html>
{% extends 'layout.html' %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>
{% block content %}
<section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Players</h2>
          <h3>Check our <span>Players</span></h3>
          <p>Players from all over the world with accurate data.</p>
        </div>
      </div>
</section>



{% endblock %}
</body>
</html>