{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
</head>
<body>
{% block content %}
 <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="section-title">
          <h2>Staff</h2>
          <h3>Check our <span>Staff</span></h3>
          <p>Staff from all over the world with accurate data.</p>
        </div>
      <div class="container" data-aos="fade-up">
          <form class="form-row" style="text-align: center" action="{% url 'staff' %}" method="post">
              <div class="form-group col-md-3">
              {% csrf_token %}
              {{ form.full_name }}
              </div>
              <div class="form-group col-md-3">
              {{ form.nationality }}
              </div>
              <div class="form-group col-md-3">
              {{ form.function }}
              </div>
              <div class="form-group col-md-2">
              {{ form.order }}
              </div>
              <div class="form-group col-md-1">
              <button class="btn btn-primary" style="background: #106eea;" name="search" type="submit" value="search">Search</button>
              </div>
          </form>
      <hr>
        <div class="row">
            {% for staff in staffs %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                  <a href="{{ staff.id }}"><img style="height: 150px; width: 210px" src="{% static 'img/' %}{{ staff.staff_img.url }}" class="img-fluid" alt=""></a>
              </div>
              <div class="member-info">
                <h4 style="text-align: center"><a href="{{ staff.id }}">{{ staff.name }}</a></h4>
                <span style="text-align: center">{{ staff.function }}</span>
              </div>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}
</body>
</html>