<!DOCTYPE html>

<style>
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
</style>


{% extends 'layout.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>

<body>
{% block content %}
<section id="featured-services" class="featured-services">
        <div class="section-title">
          <h2>Teams</h2>
          <h3>Check our <span>Teams</span></h3>
          <p>Teams from all over the world with accurate data.</p>
        </div>
      <div class="container" data-aos="fade-up">
          <form class="form-row" style="text-align: center" action="{% url 'teams' %}" method="post">
              <div class="form-group col-md-3">
              {% csrf_token %}
              {{ form.full_name }}
              </div>
              <div class="form-group col-md-3">
              {{ form.country }}
              </div>
              <div class="form-group col-md-3">
              {{ form.competition }}
              </div>
              <div class="form-group col-md-2">
              {{ form.order }}
              </div>
              <div class="form-group col-md-1">
              <button class="btn btn-primary" style="background: #106eea;" name="search" type="submit" value="search">Search</button>
              </div>
          </form>
      <hr>
        <div class="row" >
            {% for team in teams %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-3">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <a href="{{ team.id }}"><img  class="center" src="{% static team.club_badge_img %}"></a>
                <br>
                 <h1 class="ClubName" style="text-align: center"><a  class="ClubName" href="{{ team.id }}">{{ team.abreviated_name }}</a></h1>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>

{% endblock %}
</body>
</html>